body {
  color: black;
}

/* Dashboard */

.dashboard__container {
  display: flex;
  flex-direction: column;
}

.dashboard__title {
  margin: 1em;
}

.dashboard__title h1 {
  font-size: 3em;
  margin: 0 0;
}

.dashboard__title h2 {
  margin: 0 0;
}

.dashboard__user {
  display: flex;
  justify-content: flex-end;
}

/* User Info */
.profile-img {
  border-radius: 50%;
  width: 50%;
}