body {
  color: black;
}

/* Table */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.8em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #A4A7AB;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.center-item {
  text-align: center;
}

/* Dashboard */

.dashboard__container {
  display: flex;
  flex-direction: column;
}

.dashboard__table {
  display: flex;
  justify-content: center;
  margin: 1em;
  text-align: left;
  overflow:scroll;
  height: 450px;
}

.dashboard__table-data {
  
}

.dashboard__title {
  margin: 1em;
}

.dashboard__title h1 {
  font-size: 3em;
  margin: 0 0;
}

.dashboard__title h2 {
  margin: 0 0;
}

.dashboard__user {
  display: flex;
  justify-content: flex-end;
}

.dashboard__controls {
  display: flex;
  justify-content: space-around;
}

/* User Info */
.profile-img {
  border-radius: 50%;
  width: 50%;
}