.create-form-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  
}

.device-create-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  height: 70px;
  /* border-radius: 8px; */
  width: 90%;
  border-radius: 4px;
}

.device-create-form-width {
  width: 100%;
}

.device-create-form input {
  margin: 0.2em;
  width: 12%;
  font-size: .8em;
}

.device-create-form select {
  margin: 0.2em;
  width: 12%;
  font-size: .8em;
}

.create-submit-button {
  background-color: rgba(104, 207, 207, 0.9);
}
