.navbar {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}