.navbar {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  position: sticky;
  top: 0;
  background-color: #FF7A61;
  width: 100vw;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar__home:hover a,
.navbar__dashboard:hover a {
  cursor: pointer;
  color: #f8c0b6;
}

.navbar__home {
  width: 72px;
  margin-bottom: 3px;
}

.navbar__left {
  margin-top: 12px;
  margin-left: .5em;
}

.navbar__right div {
  margin: .4em;
}